<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
  <p>Hello <%= @friend.first_name %>!</p>

  <p>Magic link time, click to log into the little grimoire.</p>
  <button>"let's go!"</button>
# TODO: Add the magic link reference
    <%= yield %>
  </body>
</html>

